<!DOCTYPE html>
<html>
<head>
  <title>{% block title %}A Bitsetter's Blog{% endblock %}</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/public/style.css">
</head>
<body>

<div class="header">
  <h1><a href="/" style="text-decoration: none; color: inherit;">A Bitsetter's Blog</a></h1>
  <p>Adventures in Programming</p>
</div>

{% block content %}{% endblock %}

<div class="footer">
  <h2>Powered by Quest</h2>
  <p>Copyright 2025 Steven Osborn, All Rights Reserved</p>
</div>

</body>
</html>
